# Flask and Extensions
flask>=3.0.0
flask-sqlalchemy>=3.1.0
flask-marshmallow>=1.2.0
marshmallow-sqlalchemy>=0.30.0
flask-limiter>=3.5.0
flask-caching>=2.1.0
flask-swagger-ui>=4.11.1


# Authentication
python-jose>=3.3.0

# Database
mysql-connector-python>=8.2.0
psycopg2-binary>=2.9.0

# Production/Deployment
gunicorn>=21.0.0

# Development/Testing
pyyaml>=6.0
